.page--right-side {
  font-family: 'Inconsolata', sans-serif;
  color: rgba(0, 0, 0, 0.84);
}

.coffee-stain {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  filter: grayscale(100%);
  opacity: 0.6;
}
