.page-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.page,
.page__content {
  width: 100%;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page__content {
  max-width: 740px;
  padding: 20px;
  margin: 0 auto;
}

p,
.standard-text {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.standard-text--minor-shadow {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}

.standard-text--major-shadow {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.no-display {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

.title-text {
  text-align: center;
}

/* Animations */
.grey-scale-fade-in {
  animation: grey-scale-fade-in-frames 7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes grey-scale-fade-in-frames {
  0%,
  20% {
    filter: grayscale(100%) blur(3px) opacity(0);
  }
  100% {
    filter: grayscale(100%) blur(0) opacity(0.2);
  }
}

.float-fade-in {
  position: relative;
  animation: float-fade-in-frames 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes float-fade-in-frames {
  0%,
  50% {
    bottom: 8px;
    filter: opacity(0);
  }
  100% {
    bottom: 0;
    filter: opacity(1);
  }
}

.basic-fade-in {
  animation: basic-fade-in-frames 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes basic-fade-in-frames {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
